{% extends "layout.html" %}

{% block title %}
    Find Cheapest Carparks for Multiple Durations
{% endblock %}

{% block desc %}
    Find the cheapest carpark for a range of durations so you get the best price no matter how long you stay. Calculate parking charges automatically and see parking rates, real-time lot availability & other info.
{% endblock %}

{% block style %}
    <style>
        .map-container {
            position: relative;
        }

        .map-container:before {
            display: block;
            content: '';
            padding-top: 100%;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            /* only for testing */
        }

        @media (min-width: 768px) {
            .map-container:before {
                padding-top: 56.25%;
            }
        }
    </style>
{% endblock %}

{% block navitems %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Find Cheapest</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('fuzzy') }}">Multi Cheapest
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('browse') }}">Browse All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('contact') }}">About & Contact</a>
    </li>
{% endblock %}

{% block main %}
        <form action="{{ url_for('fuzzy') }}" method="post">
                <div class="row mt-4">
                    <div class="col">
                        <h3 class="d-none d-md-block">Get the best price no matter how long you stay</h3>
                        <h4 class="d-block d-md-none">Get the best price no matter how long you stay</h4>
                        <p>Find the cheapest carparks for a range of durations:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row mt-2">
                            <label for="center" class="col-2 lead">At</label>
                            <div class="col-10">
                                <input class="form-control" type="text" placeholder="Search for a place or address" id="place" name="place" data-toggle="tooltip" data-placement="top" title="Search for a place or address here or drag the map marker">
                            </div>
                        </div>
                        <div class="row mt-3 d-none">
                            <label for="lat" class="col-2 lead">Or</label>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col input-group">
                                        <input class="form-control" type="text" placeholder="latitude" id="lat" name="lat">
                                        <input class="form-control" type="text" placeholder="longitude" id="lng" name="lng">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <label for="radius" class="col-2 lead">Within</label>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col input-group">
                                        <input class="form-control" type="number" min="0" max="2000" value="500" list="common_radii" id="radius" name="radius" data-toggle="tooltip" data-placement="top" title="Search radius (0-2000m)" />
                                        <datalist id="common_radii">
                                            <option value="0">
                                            <option value="200">
                                            <option value="500">
                                            <option value="1000">
                                            <option value="2000">
                                        </datalist>
                                        <div class="input-group-append">
                                            <div class="input-group-text">metres</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <label for="start" class="col-2 lead">From</label>
                            <div class="col-10" data-toggle="tooltip" data-placement="top" title="Start date & time">
                                <input id="start" name="start" class="flatpickr flatpickr-input form-control" placeholder="Select start date and time.."
                                    type="text" readonly="readonly" data-toggle="tooltip" data-placement="top" title="Start date & time">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <label for="start_hr" class="col-2 lead d-block d-sm-none">Hours</label>
                            <label for="start_hr" class="col-2 lead d-none d-sm-block">For</label>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col input-group">
                                        <input class="form-control" type="number" min="1" max="12" value="1" placeholder="Minimum" id="start_hr" name="start_hr"  data-toggle="tooltip" data-placement="top" title="Min. hours (1-12) staying here">
                                        <div class="input-group-append">
                                            <div class="input-group-text">to</div>
                                        </div>
                                        <input class="form-control" type="number" min="1" max="12" value="4" placeholder="Maximum" id="end_hr" name="end_hr"  data-toggle="tooltip" data-placement="top" title="Max. hours (1-12) staying here">
                                        <div class="input-group-append">
                                            <div class="input-group-text d-none d-sm-block">hours</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col text-center">
                                <input type="submit" class="btn btn-success btn-block" value="Find Carparks">
                            </div>
                        </div>
                    </div>
                    <div class="col lg-6">
                        <div class="map-container mt-2" data-toggle="tooltip" data-placement="top" title="">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>

            </form>
            <script>
                $(function () {
                  $('[data-toggle="tooltip"]').tooltip()
                })

                // datetime picker
                var startPicker = flatpickr("#start",
                    {
                        enableTime: true,
                        dateFormat: "Y-m-dTH:i",
                        altInput: true,
                        altFormat: "D, j F Y, h:i K",
                        defaultDate: "today",
                        minDate: "today",
                    });

                document.addEventListener('DOMContentLoaded', function () {
                    var coeff = 1000 * 60 * 5;
                    var date = new Date();
                    var rounded_date = new Date(Math.ceil(date.getTime() / coeff) * coeff);
                    startPicker.setDate(rounded_date, true);
                }, false);

                var marker_locations = {{ markers }}.map(function(carpark) { return {lat: carpark[0], lng: carpark[1] } })
                // console.log(marker_locations)

                // initialize jquery location picker
                $('#map').locationpicker({
                    {% if center is defined%}
                        location: { latitude: {{ center[0] }}, longitude: {{ center[1] }} },
                        radius: 50,
                    {% else %}
                        location: { latitude: 1.286194, longitude: 103.853032 }, // Fullerton/GPO
                        radius: 500,
                    {% endif %}
                    inputBinding: {
                        latitudeInput: $('#lat'),
                        longitudeInput: $('#lng'),
                        radiusInput: $('#radius'),
                        locationNameInput: $('#place')
                    },
                    enableAutocomplete: true,
                    autocompleteOptions: { componentRestrictions: { country: 'sg' } },
                    addressFormat: 'point_of_interest', //'street_address',
                    oninitialized: function(component) {
                        var mapContext = $(component).locationpicker('map').map;
                        var markers = marker_locations.map(function(location, i) {
                            return new google.maps.Marker({
                                position: location,
                                label: "P"
                            });
                        });
                        var markerCluster = new MarkerClusterer(mapContext, markers, {maxZoom: 14, imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
                    }
                });
            </script>
            <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
{% endblock %}