{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
        <form action="{{ url_for('index') }}" method="post">
                <div class="row mt-3">
                    <div class="col">
                        <h3>Find cheapest carparks</h3>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <div class="row mt-3">
                            <label for="start" class="col-2 lead">From</label>
                            <div class="col-10">
                                <input id="start" name="start" class="flatpickr flatpickr-input form-control" placeholder="Select start date and time.."
                                    type="text" readonly="readonly">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <label for="end" class="col-2 lead">To</label>
                            <div class="col-10">
                                <input id="end" name="end" class="flatpickr flatpickr-input form-control" placeholder="Select end date and time.." type="text"
                                    readonly="readonly">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <label for="center" class="col-2 lead">At</label>
                            <div class="col-10">
                                <input class="form-control" type="text" placeholder="Type a place or address" id="place" name="place">
                            </div>
                        </div>
                        <div class="row mt-3 d-none">
                            <label for="lat" class="col-2 lead">Or</label>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col input-group">
                                        <input class="form-control" type="text" placeholder="latitude" id="lat" name="lat">
                                        <input class="form-control" type="text" placeholder="longitude" id="lng" name="lng">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <label for="radius" class="col-2 lead">Within</label>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col input-group">
                                        <input class="form-control" type="number" min="0" value="0" list="common_radii" id="radius" name="radius" />
                                        <datalist id="common_radii">
                                            <option value="0">
                                            <option value="200">
                                            <option value="500">
                                            <option value="1000">
                                            <option value="2000">
                                        </datalist>
                                        <div class="input-group-append">
                                            <div class="input-group-text">metres</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col text-center">
                                <input type="submit" class="btn btn-success btn-block" value="Search">
                            </div>
                        </div>
                    </div>
                    <div class="col lg-6">
                        <div class="map-container my-3">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>

            </form>
            <script>
                // datetime pickers
                var time_diff = 120;
                var startPicker = flatpickr("#start",
                    {
                        enableTime: true,
                        dateFormat: "Y-m-dTH:i",
                        altInput: true,
                        altFormat: "D, j F Y, h:i K",
                        defaultDate: "today",
                        minDate: "today",
                        onChange: function (selectedDates, dateStr, instance) {
                            if (endPicker.selectedDates[0] < selectedDates[0]) {
                                endPicker.setDate(selectedDates[0], true);
                            }
                        }
                    });
                var endPicker = flatpickr("#end",
                    {
                        enableTime: true,
                        dateFormat: "Y-m-dTH:i",
                        altInput: true,
                        altFormat: "D, j F Y, h:i K",
                        defaultDate: "today",
                        minDate: "today",
                        onChange: function (selectedDates, dateStr, instance) {
                            if (selectedDates[0] < startPicker.selectedDates[0]) {
                                startPicker.setDate(selectedDates[0], true);
                            }
                        }
                    });

                document.addEventListener('DOMContentLoaded', function () {
                    startPicker.setDate(new Date(), true);
                    endPicker.setDate(new Date(startPicker.selectedDates[0].getTime() + time_diff*60000), true);
                }, false);

                var marker_locations = {{ markers }}.map(function(carpark) { return {lat: carpark[0], lng: carpark[1] } })
                console.log(marker_locations)

                $('#map').locationpicker({
                    location: { latitude: 1.287953, longitude: 103.851784 },
                    radius: 500,
                    inputBinding: {
                        latitudeInput: $('#lat'),
                        longitudeInput: $('#lng'),
                        radiusInput: $('#radius'),
                        locationNameInput: $('#place')
                    },
                    enableAutocomplete: true,
                    autocompleteOptions: { componentRestrictions: { country: 'sg' } },
                    addressFormat: 'street_address',
                    oninitialized: function(component) {
                        var mapContext = $(component).locationpicker('map').map;
                        var markers = marker_locations.map(function(location, i) {
                            return new google.maps.Marker({
                                position: location,
                                label: "P"
                            });
                        });
                        var markerCluster = new MarkerClusterer(mapContext, markers, {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
                    }
                });
            </script>
            <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
{% endblock %}