{% extends "layout.html" %}

{% block title %}
    {% if name is defined %}
    Cheapest Carparks Around {{name}}
    {% else %}
    Find Cheapest Carparks Around Singapore
    {% endif %}
{% endblock %}

{% block style %}
<style>
        .map-container {
            position: relative;
        }

        .map-container:before {
            display: block;
            content: '';
            padding-top: 100%;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        @media (min-width: 576px) {
            .map-container:before {
                padding-top: 56.25%;
            }
        }

        @media (min-width: 768px) {
            .map-container:before {
                padding-top: 75%;
            }
        }
</style>
{% endblock %}
{% block navitems %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">Find Cheapest
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('fuzzy') }}">Multi Cheapest</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('browse') }}">Browse All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('contact') }}">About & Contact</a>
    </li>
{% endblock %}

{% block main %}
        <form action="{{ url_for('index') }}" method="post">
                <div class="row mt-4">
                    <div class="col">
                        {% if name is defined %}
                        <h3 class="d-none d-md-block">Find cheapest carparks around {{name}}</h3>
                        <h4 class="d-block d-md-none">Find cheapest carparks around {{name}}</h4>
                        <p>Compare parking charges of nearby carparks to find the best price:</p>
                        {% else %}
                        <h3 class="d-none d-md-block">Find cheapest carparks</h3>
                        <h4 class="d-block d-md-none">Find cheapest carparks</h4>
                        <p>Compare parking charges of carparks all over Singapore to find the best price:</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        {% if name is defined %}
                        <div class="row mt-2 d-none">
                        {% else %}
                        <div class="row mt-2">
                        {% endif %}
                            <label for="center" class="col-2 lead">At</label>
                            <div class="col-10">
                                <input class="form-control" type="text" placeholder="Search for a place or address" id="place" name="place" data-toggle="tooltip" data-placement="top" title="Search for a place or address here or drag the map marker">
                            </div>
                        </div>
                        <div class="row mt-3 d-none">
                            <label for="lat" class="col-2 lead">Or</label>
                            <div class="col-10 input-group">
                                <input class="form-control" type="text" placeholder="latitude" id="lat" name="lat">
                                <input class="form-control" type="text" placeholder="longitude" id="lng" name="lng">
                            </div>
                        </div>
                        {% if name is defined %}
                        <div class="row mt-3" id="within_row">
                        {% else %}
                        <div class="row mt-3 d-none" id="within_row">
                        {% endif %}
                            <label for="radius" class="col-2 lead">Within</label>
                            <div class="col-10 input-group">
                                <input class="form-control" type="number" min="0" max="5000" value="500" list="common_radii" id="radius" name="radius" data-toggle="tooltip" data-placement="top" title="Search radius (0-5000m)" />
                                <datalist id="common_radii">
                                    <option value="0">
                                    <option value="200">
                                    <option value="500">
                                    <option value="1000">
                                    <option value="2000">
                                </datalist>
                                <div class="input-group-append">
                                    <div class="input-group-text">metres</div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <label for="start" class="col-2 lead">From</label>
                            <div class="col-10" data-toggle="tooltip" data-placement="top" title="Start date & time">
                                <input id="start" name="start" class="flatpickr flatpickr-input form-control" placeholder="Select start date and time.."
                                    type="text" readonly="readonly" data-toggle="tooltip" data-placement="top" title="Start date & time">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <label for="end" class="col-2 lead">To</label>
                            <div class="col-10" data-toggle="tooltip" data-placement="top" title="End date & time">
                                <input id="end" name="end" class="flatpickr flatpickr-input form-control mb-2" placeholder="Select end date and time.." type="text"
                                    readonly="readonly" data-toggle="tooltip" data-placement="top" title="End date & time">
                                {% if name is not defined %}
                                <span>Don't know what time you'll leave?</span></br>
                                <a class="text-info" href="{{ url_for('fuzzy') }}">Find the cheapest carpark for a range of durations here.</a>
                                {% endif %}
                            </div>
                        </div>
                        {% if name is defined %}
                        <div class="row mt-3 d-none" id="sort_row">
                        {% else %}
                        <div class="row mt-3 d-none" id="sort_row">
                        {% endif %}
                            <label for="radio1" class="col-2 lead" style="line-height: 1.25;">Sort by</label>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-sm-6 input-group custom-control custom-radio">
                                        <input type="radio" id="radio1" name="radio" value="1" class="custom-control-input" checked="">
                                        <label class="custom-control-label" for="radio1">Cheapest, then nearest</label>
                                    </div>
                                    <div class="col-sm-6 input-group custom-control custom-radio">
                                        <input type="radio" id="radio0" name="radio" value="0" class="custom-control-input">
                                        <label class="custom-control-label" for="radio0">Nearest, then cheapest</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row my-3 align-items-center">
                            <div class="col">
                                <input type="submit" class="btn btn-success btn-block" value="Find Carparks">
                            </div>
                            {% if name is not defined %}
                            <div class="col-auto text-center">
                                <button type="button" id="options_toggle" class="btn btn-secondary btn-sm text-info"><i class='fas fa-caret-down'></i> More Options</button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col lg-6">
                        <div class="map-container mt-2" data-toggle="tooltip" data-placement="top" title="">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>

            </form>
            <script>
                if(navigator.userAgent.match(/Windows Phone/i)){
                        alert("Incompatible web browser - user experience may be suboptimal");
                };

                $(function () {
                  $('[data-toggle="tooltip"]').tooltip()
                })

                if(navigator.userAgent.match(/Windows Phone/i)){

                    // datetime pickers
                    var startPicker = flatpickr("#start",
                        {
                            disableMobile: true,
                            enableTime: true,
                            dateFormat: "Y-m-dTH:i",
                            altInput: true,
                            altFormat: "D, j M Y, h:i K",
                            defaultDate: "today",
                            minDate: "today",
                            onChange: function (selectedDates, dateStr, instance) {
                                if (endPicker.selectedDates[0] < selectedDates[0]) {
                                    endPicker.setDate(selectedDates[0], true);
                                }
                            }

                        });
                    var endPicker = flatpickr("#end",
                        {
                            disableMobile: true,
                            enableTime: true,
                            dateFormat: "Y-m-dTH:i",
                            altInput: true,
                            altFormat: "D, j M Y, h:i K",
                            defaultDate: "today",
                            minDate: "today",
                            onChange: function (selectedDates, dateStr, instance) {
                                if (selectedDates[0] < startPicker.selectedDates[0]) {
                                    startPicker.setDate(selectedDates[0], true);
                                }
                            }
                        });
                } else {

                    // datetime pickers
                    var startPicker = flatpickr("#start",
                        {
                            enableTime: true,
                            dateFormat: "Y-m-dTH:i",
                            altInput: true,
                            altFormat: "D, j M Y, h:i K",
                            defaultDate: "today",
                            minDate: "today",
                            onChange: function (selectedDates, dateStr, instance) {
                                if (endPicker.selectedDates[0] < selectedDates[0]) {
                                    endPicker.setDate(selectedDates[0], true);
                                }
                            }

                        });
                    var endPicker = flatpickr("#end",
                        {
                            enableTime: true,
                            dateFormat: "Y-m-dTH:i",
                            altInput: true,
                            altFormat: "D, j M Y, h:i K",
                            defaultDate: "today",
                            minDate: "today",
                            onChange: function (selectedDates, dateStr, instance) {
                                if (selectedDates[0] < startPicker.selectedDates[0]) {
                                    startPicker.setDate(selectedDates[0], true);
                                }
                            }
                        });
                }

                // set start & end picker to nice datetimes
                document.addEventListener('DOMContentLoaded', function () {
                    var time_diff = 120;
                    var coeff = 1000 * 60 * 5;
                    var date = new Date();
                    var rounded_date = new Date(Math.ceil(date.getTime() / coeff) * coeff);
                    startPicker.setDate(rounded_date, false);
                    endPicker.setDate(new Date(startPicker.selectedDates[0].getTime() + time_diff*60000), false);

                    {% if name is not defined %}
                    var within_row = document.getElementById("within_row");
                    var sort_row = document.getElementById("sort_row");
                    var options_toggle = document.getElementById("options_toggle");
                    options_toggle.addEventListener('click', function() {
                        within_row.classList.toggle("d-none");
                        sort_row.classList.toggle("d-none");

                        if (options_toggle.innerHTML == "<i class=\"fas fa-caret-down\"></i> More Options"){
                            options_toggle.innerHTML = "<i class=\"fas fa-caret-up\"></i> Less Options";
                        } else {
                            options_toggle.innerHTML = "<i class=\"fas fa-caret-down\"></i> More Options";
                        }

                    });
                    var media_query = window.matchMedia("(min-width: 768px)");
                    if (media_query.matches) {
                        options_toggle.click();
                    }
                    {% endif %}

                }, false);

                var marker_locations = {{ markers }}.map(function(location) { return {lat: location[0], lng: location[1] } })
                // console.log(marker_locations)

                // initialize jquery location picker
                $('#map').locationpicker({
                    {% if center is defined %}
                        location: { latitude: {{ center[0] }}, longitude: {{ center[1] }} },
                    {% else %}
                        location: { latitude: 1.286194, longitude: 103.853032 }, // Fullerton/GPO
                    {% endif %}
                    radius: 500,
                    mapOptions: {clickableIcons: false},
                    inputBinding: {
                        latitudeInput: $('#lat'),
                        longitudeInput: $('#lng'),
                        radiusInput: $('#radius'),
                        locationNameInput: $('#place')
                    },
                    enableAutocomplete: true,
                    autocompleteOptions: { componentRestrictions: { country: 'sg' } },
                    addressFormat: 'point_of_interest', //'street_address',
                    oninitialized: function(component) {
                        var mapContext = $(component).locationpicker('map').map;
                        var markers = marker_locations.map(function(location, i) {
                            return new google.maps.Marker({
                                position: location,
                                label: "P"
                            });
                        });
                        var markerCluster = new MarkerClusterer(mapContext, markers, {maxZoom: 15, imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
                    }
                });
            </script>
{% endblock %}