{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
        <form action="{{ url_for('index') }}" method="post">
            <div class="row mt-3">
                <div class="col-8">
                    <p class="h3">Find cheapest carparks</p>
                </div>
                <div class="col-4 text-right">
                    <input type="submit" class="btn btn-success" value="Search">
                </div>
            </div>
            <div class="row mt-3">
                    <label for="start" class="col-2 lead">from</label>
                    <div class="col-10">
                        <input id="start" name="start" class="flatpickr flatpickr-input form-control" placeholder="Select start date and time.." type="text" readonly="readonly">
                    </div>
            </div>
            <div class="row mt-3">
                    <label for="end" class="col-2 lead">to</label>
                    <div class="col-10">
                        <input id="end" name="end" class="flatpickr flatpickr-input form-control" placeholder="Select end date and time.." type="text" readonly="readonly">
                    </div>
            </div>
            <div class="row mt-3">
                    <label for="center" class="col-2 lead">at</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" placeholder="Type a place or address" id="place" name="place">
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" type="text" placeholder="lat" id="lat" name="lat">
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" type="text" placeholder="lng" id="lng" name="lng">
                    </div>
            </div>
            <div class="row mt-3">
                    <label for="radius" class="col-2 lead">within</label>
                    <div class="col-auto">
                        <input class="form-control" type="number" min="0" value="0" list="common_radii" id="radius" name="radius"/>
                        <datalist id="common_radii">
                            <option value="0">
                            <option value="200">
                            <option value="500">
                            <option value="1000">
                            <option value="2000">
                        </datalist>
                    </div>
                    <label class="col-auto lead">metres</label>
            </div>
            <div class = "map-container mt-3">
                <div id="us1"></div>
            </div>
        </form>
        <script>
            // datetime pickers
            flatpickr("#start", {enableTime: true, dateFormat: "Y-m-dTH:i", altInput: true, altFormat: "j F Y, h:i K", defaultDate: "today", minDate: "today"});
            flatpickr("#end", {enableTime: true, dateFormat: "Y-m-dTH:i", altInput: true, altFormat: "j F Y, h:i K", defaultDate: "today", minDate: "today"});


            $('#us1').locationpicker({
                location: { latitude: 1.287953, longitude: 103.851784 },
                radius: 500,
                inputBinding: {
                    latitudeInput: $('#lat'),
                    longitudeInput: $('#lng'),
                    radiusInput: $('#radius'),
                    locationNameInput: $('#place')
                },
                enableAutocomplete: true,
                autocompleteOptions: { componentRestrictions: {country: 'sg'} },
                addressFormat: 'street_address',
            });
        </script>

</script>
{% endblock %}